body {
  padding: 2rem 0;
  margin: 0;
}

section {
  max-width: 950px;
  min-width: 500px;
  margin: 0 auto;
}

article {
  display: flex;
  align-items: flex-start;
  padding: 1rem;
}

figure {
  border-radius: 2px;
  margin: 0;
}

figure:hover {
  opacity: 0.5;
}

h2:hover {
  text-decoration: underline;
  cursor: pointer;
}

.category-label {
  color: #0059bf;
  font-size: 1.125rem;
}

.lorem-description {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-right: 2rem;
}

.lorem-description--text {
  color: #606669;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1rem;
}

.separator {
  background: #c0c3c5;
  height: 1px;
  width: calc(100% - 2rem);
  margin: 0 auto;
}
