body {
  padding: 2rem 0;
  margin: 0;
}

.body-content {
  max-width: 950px;
  min-width: 500px;
  margin: 0 auto;
}

.category-label {
  color: #1f67c4;
}

.lorem-row {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.lorem-description {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-right: 2rem;
}

.lorem-description--text {
  color: #63696c;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 0.8rem;
}

.separator {
  background: #c0c3c5;
  height: 1px;
  width: calc(100% - 2rem);
  margin: 0 auto;
}

.image {
  background: #c0c3c5;
  border-radius: 2px;
  aspect-ratio: 16 / 9;
  height: 12.5rem;
  width: 15rem;
}
